node_modules/
.env
.DS_Store

# npm logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Mac OS files
.DS_Store

# Note: We are NOT ignoring db.json here since you may need it 
# as your initial structure when you deploy or push your code.
